$Barry: blue;
$Marry: red;
$angle: white;
$banana: yellow;

.checkoutProduct_title {
  font-size: 15px;
  font-weight: 800;
  //文字的厚度 //
}

.checkoutProduct_price {
}

.checkoutProduct_info {
}

.checkoutProduct {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;

  .checkoutProduct_rating {
    margin-bottom: 10px;
  }

  img {
    // color: $Barry;
    max-width: 30%;
    object-fit: contain;
    //調整物件的大小
  }

  button {
    background-color: $banana;
    margin-bottom: 30px;
    border-color: $Marry;
    color: $Barry;
  }
}

.checkoutProduct_rating {
}
