.header {
  display: flex;
  height: 70px;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  margin: 0px 20px;
  /* 只調整左右邊20px */
  margin-top: 10px;
  object-fit: contain;
  /* 保持長寬比例 */
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 15px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchIcon {
  background-color: #cd9042;
  height: 22px !important   ;
  /* //高度22px 很重要 ！！！why ? */
  padding: 5px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin: 0 10px;
  margin-top: 0px;
  color: white;
}

.header_optionLineOne {
  font-size: 10px;
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-content: center;
  color: white;
}

.header_basketCount {
  margin: 10px;
  margin: 0 10px;
  margin-top: 0px;
}
